.vscode
/build
/build_release
/dist
*.db
*.so
*.dylib
*.dll
*.xml
*.zip
*.index
vendor/sqlite

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps